<mat-toolbar color="primary">
  <figure [routerLink]="['/home']">
    <img class="img-icon" src="../../../assets/Logo.png" alt="" />
  </figure>
  <span>MyShop</span>
  <span class="blank-grow"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <a>
      <button mat-fab color="primary">
        <mat-icon
          [routerLink]="['/cart']"
          matBadge="{{ count }}"
          matBadgeColor="warn"
          ><img class="icon-cart" src="../../../assets/viewCart.png" alt=""
        /></mat-icon>
      </button>
    </a>

    <a>
      <button mat-fab color="primary" [routerLink]="['/home']">
        <mat-icon>home</mat-icon>
      </button>
    </a>

    <a *ngIf="!(user$| async)">
      <button mat-fab color="primary" [routerLink]="['/login']"><mat-icon>account_box</mat-icon></button>
    </a>

    <a *ngIf="user$ | async">
      <button mat-fab color="primary" (click)="onLogout()"><mat-icon>exit_to_app</mat-icon></button>
    </a>
  </div>
</mat-toolbar>
