<h1 class="title">Table<span>-My</span> Shopping Cart</h1>
<section class="container fadeIn">
  <ag-grid-angular
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    (cellValueChanged)="onCellValueChanged($event)"
  >
  </ag-grid-angular>
</section>

<section *ngIf="rowData.length" class="container subtotal">
  <ul>
    <li class="totalRow">
      <span class="label">Subtotal</span><span class="value">${{getSubtotal()}}</span>
    </li>

    <li class="totalRow">
      <span class="label">Shipping</span><span class="value">${{shipping}}</span>
    </li>

    <li class="totalRow final">
      <span class="label">Total</span><span class="value">${{getSubtotal()  + 5}}</span>
    </li>
    <li class="totalRow"><button mat-raised-button color="primary" class="btn continue" (click)="sendOrder()">Send order</button></li>
  </ul>
</section>
