.mat-sidenav-container {
  background: rgba(0, 0, 0, 0.00);
}

.blank-grow {
  flex: 1 1 auto;
}

figure {
  border-radius: 50px 50px 50px 50px;
  text-align: center;
  width: 60px;
  height: 60px;
  background: #fff;
  box-shadow: 0 0px 20px rgba(255, 255, 255, 255);
  .img-icon {
    padding: 8px;
    width: 45px;
    height: 45px;
  }
}

button {
  margin: 10px;
}

.icon-cart {
  margin: -12px 0px 0px -14px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  background: #7b1fa2;
  &:hover {
    box-shadow: 0 0 20px;
    transition: 0.1s;
  }
}

mat-nav-list > .mat-list-item{
  margin: 14px;
}
